.pokemon-container {
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 1rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.15s;
}

.pokemon-container:hover {
  transform: scale(0.99);
  opacity: 0.8;
}

.pokemon-container h1 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
